.card{
    background-color: rgb(157, 205, 205);
    margin: 30px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 5px;
    position: relative;
    min-height: 400px;
    outline: 2px solid black;
}

.blog-img{
    height: 380px;
    width: 400px;
    background-color: aquamarine;
    object-fit: cover;
    border-radius: 10px;
}


.author{
    display: flex;
    gap: 3px;
}

.author-initail{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, teal, rgb(88, 204, 88), green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-name{
    padding-block: 10px;
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.article{
    margin-right: 50px;
}

.blog-title{
    font-weight: 600;
    font-size: 36px;
}

.blog-content{
    margin: 5px;
    font-size: 20px;
    min-width: 600;
}

.btn-container{
    position: absolute;
    margin: 10px;
    right: 0;
    bottom: 0;
}

.btn{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.btn-img{
    height: 30px;
    width: 30px;
}

.btn-upt{
    background-color: rgb(216, 216, 134);
}

.btn-dlt{
    background-color: rgb(232, 139, 139);
}

.btn-upt:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 55);
}

.btn-dlt:hover{
    cursor: pointer;
    background-color: rgb(194, 68, 68);
}

.blog-link {
    text-decoration: none;
    color: inherit;
}

.blog-link:hover {
    background-color: rgb(151, 206, 206);
}

.blog-datas {
    display: flex;
    flex-direction: column;
    gap: 30px;
}